In [9]:
#IMPORTANDO BIBLIOTECAS 
import pandas as pd
import seaborn as sns 
import numpy as np

df_churn = pd.read_csv('churn.csv')

arr_quali = ['Geography', 'Gender', 'HasCrCard', 'IsActiveMember', 'Exited']
arr_quanti = ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary', 'Exited']

df_churn_quali = df_churn[arr_quali]
df_churn_quanti = df_churn[arr_quanti]

"Conquistar um novo cliente custa entre 5 e 7 vezes mais do que manter um atual"
-Philip Kotler

Em uma amostra de 10.000 clientes, 2037 saíram

In [10]:
print(f"Saíram: {len(df_churn.query('Exited == 1'))}")
print(f"Ficaram: {len(df_churn.query('Exited == 0'))}")

Saíram: 2037
Ficaram: 7963

In [22]:
from matplotlib import pyplot as plt


paises_Churn = pd.pivot_table(df_churn,index=["Geography"],
               values=["Exited"],
               aggfunc=[np.count_nonzero],fill_value=0)
               
paises_Churn

          count_nonzero
                 Exited
Geography
France              810
Germany             814
Spain               413

In [23]:
df_churn_quanti[df_churn_quanti['Exited'] == 1].describe().round(2)

,CreditScore,Age,Tenure,Balance,NumOfProducts,EstimatedSalary,Exited
count,2037.00,2037.00,2037.00,2037.00,2037.00,2037.00,2037.0
mean,645.35,44.84,4.93,91108.54,1.48,101465.68,1.0
std,100.32,9.76,2.94,58360.79,0.80,57912.42,0.0
min,350.00,18.00,0.00,0.00,1.00,11.58,1.0
25%,578.00,38.00,2.00,38340.02,1.00,51907.72,1.0
50%,646.00,45.00,5.00,109349.29,1.00,102460.84,1.0
75%,716.00,51.00,8.00,131433.33,2.00,152422.91,1.0
max,850.00,84.00,10.00,250898.09,4.00,199808.10,1.0